
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap');

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }


.container {
    display: inline; 
}

.title {
    color: hsl(200, 100%, 40%)
}

.flex{
    display:flex;
    text-align: center;
}

.nabar-items {
    display: inline;
    vertical-align: middle;
}

.img {
    width: 100px; 
}

.links {
    margin-left: 70px;
    text-decoration: none;
    font-size: 20px;
    color: hsl(200, 100%, 50%)
}

.links:hover {
    border-bottom: 1px solid hsl(200, 100%, 40%);
}

.links:focus {
    border-bottom: 1px solid hsl(200, 100%, 40%);
}

