.left-arrow {
    width: 30px; 
    position: absolute;
    left: 0; 
}

.right-arrow {
    width: 30px; 
    position: absolute;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    right: 0;
}

.left-arrow-container {
    background-color: grey;
    width: 40px;
    height: 40px; 
    text-align: center;
    align-content: center;
    display: inline-block;
}

.right-arrow-container {
    background-color: grey;
    width: 40px;
    height: 40px; 
    text-align: center;
    align-content: center;
    display: inline-block;
}

.pageNum {
    position: absolute;
    left: 50%;
    background-color: grey;
    padding: 5px 10px; 
    color: white; 
}