.left-arrow {
    width: 30px; 
    position: absolute;
    left: 10px; 
}

.right-arrow {
    width: 30px; 
    position: absolute;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    right: 10px;
}

.left-arrow-container {
    background-color: grey;
    width: 40px;
    height: 40px; 
    text-align: center;
    align-content: center;
    display: inline-block;
}

.right-arrow-container {
    background-color: grey;
    width: 40px;
    height: 40px; 
    text-align: center;
    align-content: center;
    display: inline-block;
}

.pageNum {
    position: absolute;
    left: 50%;
    background-color: hsl(200, 100%, 50%);
    padding: 5px 10px; 
    color: white; 
}

.next-page-container {
    background-color: hsl(0, 0%, 90%);
    height: 30px;
}